{% extends "base.html" %}
<!-- Title -->
{% block title %}Sign Up{% endblock %}
<!-- Title -->

<!-- Content -->
{% block content %}
<!-- Message flashing-->
{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %}
<!-- Sign Up Form -->
<section
  class="h-100 d-flex flex-column align-items-center justify-content-center"
>
  <h1 class="text-center fw-bold fs-1">Sign Up</h1>
  <br />
  <div
    class="h-50 d-flex flex-column justify-content-evenly border border-3 border-black rounded-5 p-5 shadow intro-card"
  >
    {% from 'bootstrap4/form.html' import render_form%}
    <!-- Sign up form -->
    {{ render_form(form) }}
    <!-- End of if statement -->
  </div>
</section>
{% endblock %}
