{% extends "base.html" %}
<!-- Title -->
{% block title %}Login{% endblock %}
<!-- Title -->

<!-- Content -->
{% block content %}
<form method="POST">
  {{ form.hidden_tag() }}
  <!-- Username Label -->
  {{ form.username.label(class="form-label") }}
  <!-- Form Username Box -->
  {{ form.username(class="form-control") }}
  <br />
  <!-- Password Label -->
  {{ form.password.label(class="form-label") }}
  <!-- Form Password Box -->
  {{ form.password(class="form-control") }}
  <br />
  <!-- Form Submit -->
  {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
