{% extends "base.html" %}
<!-- Title -->
{% block title %}Sign Up{% endblock %}
<!-- Title -->

<!-- Content -->
{% block content %}
<!-- Message flashing-->
{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %}
<!-- If user is registered or no-->
{% if name %}
<h1>Hello {{ name }}</h1>
{% else %}
<h1>Sign Up</h1>
<br />
<!-- Sign Up Form -->
<form method="POST">
  {{ form.hidden_tag() }}
  <!-- Name Label -->
  {{ form.name.label(class="form-label") }}
  <!-- Form Name Box -->
  {{ form.name(class="form-control") }}
  <br />
  <!-- Username Label -->
  {{ form.username.label(class="form-label") }}
  <!-- Form Username Box -->
  {{ form.username(class="form-control") }}
  <br />
  <!-- Email Label -->
  {{ form.email.label(class="form-label") }}
  <!-- Form Email Box -->
  {{ form.email(class="form-control") }}
  <br />
  <!-- Password Label -->
  {{ form.password_hash.label(class="form-label") }}
  <!-- Form Password Box -->
  {{ form.password_hash(class="form-control") }}
  <br />
  <!-- Confirm Password Label -->
  {{ form.confirm.label(class="form-label") }}
  <!-- Form Confirm Password Box -->
  {{ form.confirm(class="form-control") }}
  <br />
  <!-- Form Submit -->
  {{ form.submit(class="btn btn-primary") }}
</form>
{% endif %}
<!-- End of if statement -->

{% endblock %}
