{% extends "base.html" %}

<!-- Title -->
{% block title %}Dashboard{% endblock %}
<!-- Title -->

<!-- Content -->
{% block content %}
<!-- Message flashing-->
{% with messages = get_flashed_messages(with_categories=true) %}
<!---->
{% if messages %}
<!---->
{% for category, message in messages %}
<!---->
<div
  class="alert alert-{{ category }} alert-dismissible fade show"
  role="alert"
>
  {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<!---->
{% endfor %}
<!---->
{% endif %}
<!---->
{% endwith %}
<!-- Message flashing-->

<!-- Dahboard Page-->
<h1 class="text-center cursive">Dashboard</h1>
<div class="container p-2">
  <!-- Row -->
  <div class="row gx-2 justify-content-center border border-2 rounded p-2">
    <!-- Search bar -->
    <div class="input-group rounded mb-2" style="width: 15rem">
      <input
        type="search"
        class="form-control rounded"
        aria-label="Search"
        aria-describedby="search-addon"
        name="q"
        placeholder="Search for courses"
        hx-get="/search"
        hx-trigger="keyup changed delay:500ms"
        hx-target="#courses"
      />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </div>
    <!-- Class Scroll Container -->
    <div
      class="container-fluid py-2 border border-2 rounded"
      id="class-cards-container"
    >
      <!-- Class Scroll Card Container -->
      <div class="d-flex flex-row flex-nowrap overflow-auto" id="courses">
        <!-- This is where search results will be displayed -->
      </div>
    </div>
  </div>
  <!-- Row -->
  <!-- Row -->
  <div class="row gx-2 justify-content-center">
    <!-- Schedule -->
    <table class="table table-bordered table-success text-center shadow mt-2">
      <thead>
        <tr>
          <th scope="col">Times</th>
          {% for time in [8,9,10,11,12,1,2,3,4,5,6,7,8] %}
          <th scope="col">{{ time }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for day in ["M", "T", "W", "R", "F"] %}
        <tr>
          <th scope="row">{{ day }}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- Schedule -->
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="addClassModal"
  tabindex="-1"
  aria-labelledby="addClassModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addClassModalLabel">Add A New Class</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {% from 'bootstrap5/form.html' import render_form_row %}
        <form method="POST">
          <!-- form row -->
          {{ render_form_row([form.course_name]) }}
          <!-- form row -->
          {{ render_form_row([form.course_code, form.course_number]) }}
          <!-- form row -->
          {{ render_form_row([form.place]) }}
          <!-- form row -->
          {{ render_form_row([form.days]) }}
          <!-- form row -->
          {{ render_form_row([form.start_time, form.end_time]) }}
          <!-- form row -->
          {{ render_form_row([form.has_lab, form.lab_day]) }}
          <!-- form row -->
          {{ render_form_row([form.lab_start_time, form.lab_end_time]) }}
          <!-- form row -->
          {{ render_form_row([form.add_course]) }}
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

<!-- Scripts -->

<script src="{{url_for('static', filename='js/dashboard.js')}}"></script>
<script type="module" src="static/js/map.js"></script>
{% endblock %}
