{% extends "base.html" %}

<!-- Title -->
{% block title %}Dashboard{% endblock %}
<!-- Title -->

<!-- Content -->
{% block content %}
<h1 class="text-center cursive">Dashboard</h1>
<!-- Class Scroll -->
<div class="container-fluid py-2 border border-2 rounded">
  <div class="d-flex flex-row flex-nowrap overflow-auto">
    <!-- Card -->
    <div
      class="card card-block border border-2 rounded mx-2"
      style="min-width: 300px"
    >
      <!-- Card Body -->
      <div class="card-body">
        <!-- Card Title -->
        <h5 class="card-title">ITCS 3155</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Class Name</h6>
        <small class="text-muted">Location Time</small>
      </div>
      <!-- Card Footer with add button -->
      <div class="card-footer">
        <a
          href="#"
          class="btn btn-outline-primary stretched-link"
          style="width: 100%"
          >+</a
        >
      </div>
    </div>
    <!-- Card -->
    <!-- Card -->
    <div
      class="card card-block border border-2 rounded mx-2"
      style="min-width: 300px"
    >
      <!-- Card Body -->
      <div class="card-body">
        <!-- Card Title -->
        <h5 class="card-title">ITCS 3155</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Class Name</h6>
        <small class="text-muted">Location Time</small>
      </div>
      <!-- Card Footer with add button -->
      <div class="card-footer">
        <a
          href="#"
          class="btn btn-outline-primary stretched-link"
          style="width: 100%"
          >+</a
        >
      </div>
    </div>
    <!-- Card -->
    <!-- Card -->
    <div
      class="card card-block border border-2 rounded mx-2"
      style="min-width: 300px"
    >
      <!-- Card Body -->
      <div class="card-body">
        <!-- Card Title -->
        <h5 class="card-title">ITCS 3155</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Class Name</h6>
        <small class="text-muted">Location Time</small>
      </div>
      <!-- Card Footer with add button -->
      <div class="card-footer">
        <a
          href="#"
          class="btn btn-outline-primary stretched-link"
          style="width: 100%"
          >+</a
        >
      </div>
    </div>
    <!-- Card -->
    <!-- Card -->
    <div
      class="card card-block border border-2 rounded mx-2"
      style="min-width: 300px"
    >
      <!-- Card Body -->
      <div class="card-body">
        <!-- Card Title -->
        <h5 class="card-title">ITCS 3155</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Class Name</h6>
        <small class="text-muted">Location Time</small>
      </div>
      <!-- Card Footer with add button -->
      <div class="card-footer">
        <a
          href="#"
          class="btn btn-outline-primary stretched-link"
          style="width: 100%"
          >+</a
        >
      </div>
    </div>
    <!-- Card -->
    <!-- Card -->
    <div
      class="card card-block border border-2 rounded mx-2"
      style="min-width: 300px"
    >
      <!-- Card Body -->
      <div class="card-body">
        <!-- Card Title -->
        <h5 class="card-title">ITCS 3155</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Class Name</h6>
        <small class="text-muted">Location Time</small>
      </div>
      <!-- Card Footer with add button -->
      <div class="card-footer">
        <a
          href="#"
          class="btn btn-outline-primary stretched-link"
          style="width: 100%"
          >+</a
        >
      </div>
    </div>
    <!-- Card -->
    <!-- Card -->
    <div
      class="card card-block border border-2 rounded mx-2"
      style="min-width: 300px"
    >
      <!-- Card Body -->
      <div class="card-body">
        <!-- Card Title -->
        <h5 class="card-title">ITCS 3155</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Class Name</h6>
        <small class="text-muted">Location Time</small>
      </div>
      <!-- Card Footer with add button -->
      <div class="card-footer">
        <a
          href="#"
          class="btn btn-outline-primary stretched-link"
          style="width: 100%"
          >+</a
        >
      </div>
    </div>
    <!-- Card -->
    <!-- Card -->
    <div
      class="card card-block border border-2 rounded mx-2"
      style="min-width: 300px"
    >
      <!-- Card Body -->
      <div class="card-body">
        <!-- Card Title -->
        <h5 class="card-title">ITCS 3155</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Class Name</h6>
        <small class="text-muted">Location Time</small>
      </div>
      <!-- Card Footer with add button -->
      <div class="card-footer">
        <a
          href="#"
          class="btn btn-outline-primary stretched-link"
          style="width: 100%"
          >+</a
        >
      </div>
    </div>
    <!-- Card -->
    <!-- Card -->
    <div
      class="card card-block border border-2 rounded mx-2"
      style="min-width: 300px"
    >
      <!-- Card Body -->
      <div class="card-body">
        <!-- Card Title -->
        <h5 class="card-title">ITCS 3155</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Class Name</h6>
        <small class="text-muted">Location Time</small>
      </div>
      <!-- Card Footer with add button -->
      <div class="card-footer">
        <a
          href="#"
          class="btn btn-outline-primary stretched-link"
          style="width: 100%"
          >+</a
        >
      </div>
    </div>
    <!-- Card -->
    <!-- Add Classes Option -->
    <div
      class="card card-block border border-2 rounded mx-2"
      style="min-width: 300px"
    >
      <div class="card-body text-center">
        <h5 class="card-title">Add A Class</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          If you cannot find your class you can add it here
        </h6>
      </div>
      <div class="card-footer">
        <button
          onclick="showAddClass()"
          type="button"
          class="btn btn-outline-success btn-lg"
          style="width: 100%"
        >
          +
        </button>
      </div>
    </div>
    <!-- Add Classes Option -->
  </div>
</div>

<div id="add-class-form" style="display: none">
  <form action="/add-course">
    <!-- Form Course Code Label -->
    {{ form.course_code.label(class="form-label") }}
    <!-- Form Course Code Box -->
    {{ form.course_code(class="form-control", placeholder="ABCD") }}
    <!-- Form Course Number Label -->
    {{ form.course_number.label(class="form-label") }}
    <!-- Form Course Number Box -->
    {{ form.course_number(class="form-control", placeholder="1234") }}
    <!-- Form Location Label -->
    {{ form.place.label(class="form-label") }}
    <!-- Form Location Box -->
    {{ form.place(class="form-select") }}
    <!-- Form Course Days Label -->
    {{ form.course_days.label(class="form-label") }}
    <!-- Form Course Days Radio -->
    {{ form.course_days(class="form-control") }}
    <!-- Form Course Start Time Label -->
    {{ form.start_time.label(class="form-label") }}
    <!-- Form Course Start Time Box -->
    {{ form.start_time(class="form-control") }}
    <!-- Form Course End Time Label -->
    {{ form.end_time.label(class="form-label") }}
    <!-- Form Course End Time Box -->
    {{ form.end_time(class="form-control") }}
    <br />
    <!-- Form Submit -->
    {{ form.add_course(class="btn btn-primary") }}
  </form>
</div>
<!---->
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
<script type="module" src="static/js/map.js"></script>
{% endblock %}
