{% extends "base.html" %}

<!-- Title -->
{% block title %}Dashboard{% endblock %}
<!-- Title -->

<!-- Content -->
{% block content %}
<!-- Message flashing-->
{% with messages = get_flashed_messages(with_categories=true) %}
<!---->
{% if messages %}
<!---->
{% for category, message in messages %}
<!---->
<div
  class="alert alert-{{ category }} alert-dismissible fade show"
  role="alert"
>
  {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<!---->
{% endfor %}
<!---->
{% endif %}
<!---->
{% endwith %}
<!-- Message flashing-->

<!-- Dahboard Page-->
<h1 class="text-center fw-bold p-3">Create a Schedule!</h1>
<div class="container p-2">
  <!-- Row -->
  <div
    class="row gx-2 justify-content-center border border-2 border-black rounded p-2 intro-card"
  >
    <!-- Search bar -->
    <div class="input-group rounded mb-2" style="width: 15rem">
      <input
        type="search"
        class="form-control rounded"
        aria-label="Search"
        aria-describedby="search-addon"
        name="q"
        placeholder="Search for courses"
        hx-get="/search"
        hx-trigger="keyup changed delay:500ms"
        hx-target="#courses"
      />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </div>

    <!--Upper Table-->

    <!-- Class Scroll Container -->
    <div
      class="container-fluid py-2 border border-2 border-black rounded"
      id="class-cards-container"
    >
      <!-- Class Scroll Card Container -->
      <div class="d-flex flex-row flex-nowrap overflow-auto" id="courses">
        <!-- This is where search results will be displayed -->
      </div>
    </div>
  </div>
  <!-- Row -->
  <br /><br /><br /><br />
  <!-- Schedule Format -->
  <div class="container text-center">
    <div class="row">
      <div class="col-2">Time</div>
      <div class="col-1">6am</div>
      <div class="col-1">8am</div>
      <div class="col-1">10am</div>
      <div class="col-1">12pm</div>
      <div class="col-1">2pm</div>
      <div class="col-1">4pm</div>
      <div class="col-1">6pm</div>
      <div class="col-1">8pm</div>
      <div class="col-1">10pm</div>
    </div>
    <div class="row border border-2 border-black rounded-5 bg-white">
      <div class="col-2 border border-1 border-black p-4 fw-bold">Monday</div>
      <div class="col-10 border border-1 border-black p-4"></div>
      <div class="col-2 border border-1 border-black p-4 fw-bold">Tuesday</div>
      <div class="col-10 border border-1 border-black p-4"></div>
      <div class="col-2 border border-1 border-black p-4 fw-bold">
        Wednesday
      </div>
      <div class="col-10 border border-1 border-black p-4"></div>
      <div class="col-2 border border-1 border-black p-4 fw-bold">Thursday</div>
      <div class="col-10 border border-1 border-black p-4"></div>
      <div class="col-2 border border-1 border-black p-4 fw-bold">Friday</div>
      <div class="col-10 border border-1 border-black p-4"></div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade intro-card"
    id="addClassModal"
    tabindex="-1"
    aria-labelledby="addClassModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addClassModalLabel">Add A New Class</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          {% from 'bootstrap5/form.html' import render_form_row %}
          <form method="POST">
            <!-- form row -->
            {{ render_form_row([form.course_name]) }}
            <!-- form row -->
            {{ render_form_row([form.course_code, form.course_number]) }}
            <!-- form row -->
            {{ render_form_row([form.place]) }}
            <!-- form row -->
            {{ render_form_row([form.days]) }}
            <!-- form row -->
            {{ render_form_row([form.start_time, form.end_time]) }}
            <!-- form row -->
            {{ render_form_row([form.has_lab, form.lab_day]) }}
            <!-- form row -->
            {{ render_form_row([form.lab_start_time, form.lab_end_time]) }}
            <!-- form row -->
            {{ render_form_row([form.add_course]) }}
          </form>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->

  <!-- Scripts -->

  <script src="{{url_for('static', filename='js/dashboard.js')}}"></script>
  <script type="module" src="static/js/map.js"></script>
  {% endblock %}
</div>
