{% extends "base.html" %}
<!-- Title -->
{% block title %}Home{% endblock %}
<!-- Title -->

<!-- Content -->
{% block content %}

<!-- Action section -->
<section
  class="h-100 d-flex flex-column align-items-center justify-content-center"
  style="background-color: #a6ca99;"
>
  <h1 class="text-center">Planify</h1>
  <h2 class="text-center">Scheduling made easy.</h2>
  <br />
  <div
    class="h-50 d-flex flex-column justify-content-evenly border border-20 border-primary-subtle rounded p-5 shadow"
    style="background-color: #A39467;"
  >
    <!-- Button to dashboard -->
    <a class="btn btn-primary shadow w-100" href="/dashboard" role="button"
      >Start Scheduling</a
    >
    <!-- Button to sign up -->
    <a class="btn btn-primary shadow w-100" href="/sign-up" role="button"
      >Sign Up!</a
    >
    <!-- Sign up information -->
    <p class="font-weight-light">
      Registered users can save and create multiple schedules!
    </p>
    <!-- Button to login -->
    <a class="btn btn-primary shadow w-100" href="/login" role="button"
      >Login</a
    >
  </div>
</section>
{% endblock %}
