{% extends "base.html" %}
<!-- Title -->
{% block title %}Home{% endblock %}
<!-- Title -->

<!-- Content -->
{% block content %}

<!-- Action section -->
<section
  class="h-100 d-flex flex-column align-items-center justify-content-center"
>
  <h1 class="text-center fw-bold fs-1">Planify</h1>
  <h5 class="text-center fw-normal">Scheduling made easy.</h3>
  <br />
  <div
    class="h-50 d-flex flex-column justify-content-evenly border border-3 border-black rounded-5 p-5 shadow intro-card"
  >
    <!-- Button to dashboard -->
    <a class="btn btn-primary bg-white text-black fw-semibold border border-2 border-black w-100" href="{{ url_for('main.dashboard') }}" role="button"
      >Start Scheduling</a
    >
    <!-- Button to sign up -->
    <a
      class="btn btn-primary bg-white text-black fw-semibold border border-2 border-black w-100"
      href="{{ url_for('auth.sign_up') }}"
      role="button"
      id="SignMeUp"
      >Sign Up!</a
    >

    <!-- Sign up information -->

    <!-- Button to login -->
    <a class="btn btn-primary bg-white text-black fw-semibold border border-2 border-black w-100" href="{{ url_for('auth.login') }}" role="button"
      >Login</a
    >

    <p class="font-weight-light">
      Registered users can save and create multiple schedules!
    </p>
  </div>
</section>
{% endblock %}
